
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
input{
    height: 50px;
    padding: 0 15px;
    width: 80%;
    border: none;    
    outline: none;
}
button{
    background: #0787f0;
    border: none;
    height: 50px;
    width: 20%;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
}
.todo-container{
    display: flex;
    align-items: center;
    border: 1px solid #0787f0;
    box-shadow: 0 0 15px #00000020;
    margin: 20px auto;
    width: 500px;
}

.list-container{
    width: 500px;
    margin: auto;
    border: 1px solid #ccc;
    box-shadow: 0 0 15px #00000020;
}

.list{
    padding: 15px;
}
.list:nth-of-type(even){
    background: #dddddd;
}
