
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

input {
    height: 50px;
    font-size: 24px;
    width: 70%;
    margin-bottom: 15px;
}

.container{
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 700px;
    margin: auto;
}
.bd{
    height: 250px;
}
button{
    float: right;
    width: 150px;
    background: #fdd2d2;
    outline: none;
    border: none;
    padding: 8px;
    border-radius: 8px;
    box-shadow: 0 0 15px #00000050;
    font-size: 18px;
    margin: 0 8px;
}

li{
    list-style: none;
    font-size: 27px;
    padding: 15px;
}

li:nth-last-of-type(odd) {
    background: #d68989;
}
li:nth-last-of-type(even) {
    background: #f8d3d3;
}